# Пример конфигурации PBMS для msmtp
# Проект сервиса подготовлен для публикации на https://focuslens.dev
# © 2026 FocusLens. Все права защищены.
# Скопируйте в /root/.msmtprc или другое защищённое место и замените значения-заглушки.
# Никогда не коммитьте рабочий файл конфигурации.

defaults
"#" auth on
"#" tls on
"#" tls_trust_file /etc/ssl/certs/ca-certificates.crt

account default
host smtp.example.com
port 587
auth on
user CHANGE_ME@example.com
password CHANGE_ME
from CHANGE_ME@example.com
